body {
  font-family: "Poppins", sans-serif;
  margin: 0;
}
.container {
  background-color: hsl(0, 0%, 94%);
  padding-top: 100px;
  padding-bottom: 100px;
  height: calc(100vh - 200px);
  display: flex;
}
.container .box {
  width: 600px;
  background-color: white;
  margin: auto;
  padding: 40px;
  border-radius: 15px 15px 200px;
  -webkit-border-radius: 15px 15px 200px;
  -moz-border-radius: 15px 15px 200px;
  -ms-border-radius: 15px 15px 200px;
  -o-border-radius: 15px 15px 200px;
  max-width: 100%;
}

.box form {
  display: flex;
}
.input-filled {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  width: calc(100% / 3.5);
}

.box .input-filled span {
  color: hsl(0, 1%, 44%);
  margin-bottom: 5px;
  font-size: 12px;
  font-weight: lighter;
  letter-spacing: 3px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.box .input-filled input {
  width: calc(100% / 3);
  padding: 15px 40px 15px 15px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border: 1px solid hsl(0, 0%, 86%);
  caret-color: hsl(259, 100%, 65%);
  font-size: 20px;
  font-weight: bold;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

.box .input-filled input:focus {
  outline: none;
  border: 1px solid hsl(259, 100%, 65%);
}
.input-filled[data-err="true"] input {
  border-color: hsl(0, 100%, 67%);
}
.input-filled[data-err="true"] span {
  color: hsl(0, 100%, 67%) !important;
}
.input-filled[data-err="true"] .error {
  visibility: visible;
  transition: 0.3s;
}

.input-filled:hover > span{
  color:hsl(259, 100%, 65%);
}
.input-filled:hover > input#day{
  border-color:hsl(259, 100%, 65%);
}

.error {
  font-size: 8px;
  margin-top: 8px;
  color: hsl(0, 100%, 67%);
  visibility: hidden;
}

.btn {
  position: relative;
  display: flex;
  margin: 0 auto;
}
.btn::before {
  content: "";
  width: 100%;
  height: 1px;
  top: 50%;
  background-color: hsl(0, 0%, 86%);
  position: absolute;
  z-index: 0;
}
.btn svg {
  background-color: hsl(259, 100%, 65%);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  padding: 25px;
  width: 30px;
  height: 30px;
  margin-left: auto;
  z-index: 1;
  cursor: pointer;
}
.btn svg:hover {
  background: #000;
}
.rst {
  font-size: 76px;
  font-weight: bold;
  line-height: 1.1;
}
.rst span {
  color: hsl(259, 100%, 65%);
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  padding-right: 10px;
}
@media (max-width: 768px) {
  .container .box {
    width: 280px;
    padding: 30px;
    margin: auto auto;
  }
  .btn svg {
    margin: auto;
    padding: 15px;
  }
  .btn {
    margin: 10px auto 40px;
  }
  .box .input-filled {
    width: calc(100% / 3);
  }
  .box .input-filled input {
    font-size: smaller;
    padding: 15px 30px 15px 15px;
  }
  .error {
    font-size: 8px;
    max-width: 50px;
  }
  .rst {
    font-size: 40px;
  }
}
